@charset "UTF-8";
/*colores*/
/*medidas*/
/*------------------Pestañas-------------------*/
/*-----------------Cajas-------------------------------------*/
/*------------------------------------------------------------------*/
/*-----------------------Botones--------------------*/
/*--------------------------Cajas-----------------------------------*/
/*fuentes*/
/*Line-height*/
/*Bordes*/
/*Elementos o clases genericas*/
/*------------------botones--------------------------*/
.boton {
  display: inline-flex;
  background: #EE3EFE;
  height: 36px;
  box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; }

.boton-general {
  display: inline-flex;
  box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  height: 36px; }

.boton--extra-large {
  width: 256px; }

.boton--grande {
  width: 144px; }

.boton--mediano {
  width: 131px; }

.boton--pequeno {
  width: 36px; }

.boton-rosado {
  background: #EE3EFE; }

.boton-blanco {
  background: #FFFFFF; }

.boton-rojo {
  background: #FF6161; }

.boton-gris-claro {
  background: #F0E5EE; }

.boton-tema-claro {
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  border: 1px solid #CCA6C9;
  width: 150px; }

.boton-general_margin14px {
  margin-bottom: 14px; }

.boton-general__margin30px {
  margin-right: 30px; }

.boton-general__margin46px {
  margin-right: 46px; }

.boton-general__margin15px {
  margin-right: 15px; }

.boton-general__margin-top {
  margin-top: 10px; }

.boton-tema-texto__margin {
  margin-left: 16px; }

.boton-buscar-largo-buscar-resultados {
  width: 88%;
  margin-left: 1.1%;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  border: 1px solid #808080;
  background: #CCCCCC; }

.imagen-boton {
  vertical-align: middle; }

.flecha-abajo {
  width: 30px;
  height: 30px; }

.boton--ver-mas {
  width: 81px;
  height: 34px;
  background: #2E32FB;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF; }

.boton--buscar {
  width: 8.5%;
  height: 36px;
  background: #B4B4B4;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }

/*------------------------Texto botones---------------------*/
.boton-texto {
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  letter-spacing: 0;
  height: 29px; }

.boton-texto-azul-oscuro {
  color: #FFFFFF; }

.boton-texto-blanco {
  color: #110038; }

.boton-texto--buscar {
  color: #8F8F8F;
  width: 102px; }

.boton-texto--grande {
  font-size: 16px;
  line-height: 28px;
  width: 117px;
  padding-left: 20px; }

.boton-texto--saylor {
  font-size: 16px;
  line-height: 28px;
  width: 131px;
  padding-left: 12px;
  text-align: start; }

.boton-texto--mediano {
  font-size: 16px;
  line-height: 28px;
  width: 122px; }

.boton-texto--pequeno {
  font-size: 12px;
  line-height: 24px; }

.boton-texto-largo-buscar-resultados {
  width: 98.5%;
  line-height: 27px; }

.boton-texto-144px-line-heigth {
  line-height: 27px; }

.boton-crear-guifos-cancelar {
  width: 102px;
  padding-left: 34px; }

.boton-crear-guifos-comenzar {
  width: 102px;
  padding-left: 34px; }

.boton-chequeo-capturar {
  width: 93px;
  padding-left: 34px; }

.boton-chequeo-listo {
  width: 86px;
  padding-left: 41px; }

.boton-chequeo-repetirCaptura {
  width: 121px;
  padding-left: 5px; }

.boton-chequeo-subir-guifo {
  width: 105px;
  padding-left: 23px; }

.boton-exito-copiar-guifo {
  width: 195px;
  padding-left: 53px; }

.boton-exito-descargar-guifo {
  width: 178px;
  padding-left: 68px; }

.boton-exito-listo {
  width: 90px;
  height: 28px;
  padding-left: 46px; }

.boton-texto-margin-left {
  margin-left: 1.4%; }

.boton-texto-margenes {
  padding-left: 1%;
  margin-left: 2px; }

.boton-texto--ver-mas {
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  width: 66px;
  height: 28px;
  margin-top: 3px;
  padding-left: 9px; }

/*----------------------------texto pagina---------------------------------*/
.texto {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #110038; }

.texto-mis-guifos {
  width: 95px;
  height: 32px;
  margin: 0px;
  line-height: 36px; }

.texto-mis-guifos::first-letter {
  text-decoration: underline; }

.texto-bold {
  font-weight: 600; }

.texto--caja-titulo {
  font-size: 14px;
  line-height: 32px; }

.texto--caja-titulo__margin {
  margin: 0px 0px 0px 0.5%; }

.texto-mis-guifos-navegacion {
  text-decoration: none;
  margin: 0px 0px 0px 15px;
  width: 97px; }

.texto--h2-caja-crear-guifos {
  font-weight: bold;
  margin-top: 35px; }

.texto--p-numeros-lista {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 3px 0px 0px; }

.texto--p-lista {
  font-size: 14px;
  margin: 0px 0px 0px 0px; }

.texto--parrafo-crear-guifo-p {
  font-size: 14px;
  margin: 0px 0px 0px 0px; }

.pestaña {
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  height: 24px; }

.pestaña--top {
  width: 100%;
  height: 23px;
  box-shadow: 0 1px 0 0 #110038; }

.pestaña--caja-buscar {
  width: 99.5%; }

.pestaña--caja-buscar__margin {
  margin: 3px 0px 0px 0px; }

.pestaña--gif-sugeridos {
  width: 97%; }

.pestaña--gif-sugeridos__margin {
  margin: 2px 0px 0px 0px; }

.pestaña-crear-guifos-chequeo {
  width: 98.8%;
  margin: 3px 5px 0px 0px; }

.pestaña-texto {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 24px;
  margin: 0px; }

.pestaña-texto--top {
  font-size: 12px; }

.pestaña-texto__day {
  color: #110038; }

.pestaña--texto__margin {
  margin: 0px 0px 0px 4px; }

.caja-contenedora-buscar {
  width: 82.9%;
  height: 99px;
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.caja-contenedor-busqueda-blanco {
  width: 88%;
  height: 48px;
  background: #FFFFFF;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  border: 1px solid #979797; }

.caja-contenedor-busqueda-blanco__margin {
  margin: 0px 0px 0px 0px; }

.caja-titulo {
  width: 82.9%;
  height: 32px;
  background: #FFFFFF;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  border: 1px solid #E6BBE2; }

.caja-gifs-sugeridos {
  width: 25%;
  height: 313px;
  background: rgba(230, 230, 230, 0);
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.cajas-gifs-sugeridos__margin {
  margin-left: 0.8%; }

.caja-gifs-resultados {
  width: 24.4%;
  height: 304px;
  background: rgba(230, 230, 230, 0);
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.cajas-gifs-resultados__margin {
  margin: 1% 0px 0px 0.6%; }

.cajas-gif-interior {
  width: 96.5%;
  height: 279px; }

.cajas-gif-interior__margin {
  margin: 2px 0px 0px 6px; }

.caja-crear-guifos-inicio {
  width: 47.5%;
  height: 386px;
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.caja-crear-guifos-inicio-texto {
  width: 75.73%;
  height: 190px; }

.caja-botones-crear-guifos-inicio {
  width: 100%;
  height: 79px; }

.caja-crear-guifos-chequeo {
  width: 59.8%;
  height: 548px;
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.caja-crear-guifos-chequeo___margin {
  margin: 5% 0px 0px 0px; }

.caja-contenedor-grabacion {
  width: 97.4%;
  height: 440px;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  background: #FFFFFF; }

.caja-contenedor-grabacion__margin {
  margin: 1% 0px 0px 0px; }

.caja-contador {
  width: 124px;
  height: 36px;
  background: #FFFFFF;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  border: 1px solid #979797; }

.caja-contenedora-cargando {
  width: 328px;
  height: 27px;
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }

.rectangulo-inactivo {
  width: 12px;
  height: 20px;
  background: #999999;
  border: 1px solid #cecccc; }

.rectangulo-activo {
  width: 12px;
  height: 20px;
  background: #F7C9F3;
  border: 1px solid #cecccc; }

.caja-exito {
  width: 721px;
  height: 391px;
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.div-contenedor-exito {
  height: 367px;
  width: 721px; }

.caja-img-gifo-exito {
  width: 60%;
  height: 367px; }

.guifo-exito {
  width: 371px;
  height: 196px;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-20pxshadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  margin: 7% 0px 0px 5%; }

.caja-botones-exito {
  width: 50%;
  height: 367px; }

.caja-contenedor-cambio-tema {
  width: 167px;
  height: 102px;
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.caja-contenedor-cambio-tema__margin {
  margin-left: 15px; }

.caja-buscar-resultados {
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  height: 160px;
  width: 82.9%;
  background: #B4B4B4; }

.contenedor-input {
  width: 98%;
  height: 42px;
  border: none;
  box-shadow: none;
  margin: 2.6px 0px 0px 12px;
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif; }

.contenedor-input:focus {
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

/*Comportamiento*/
body {
  background-color: #141638;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*------------------Clases principales de flex y centrado------------------------*/
  /*------------------------------------HTML CREAR-GUIFOS-------------------------------------*/
  /*-------------------------------------------------------------------------*/ }
  body .flex-column {
    display: flex;
    flex-flow: column nowrap; }
  body .flex-row {
    display: flex;
    flex-direction: row; }
  body .flex-wrap {
    flex-wrap: wrap; }
  body .flex-nowrap {
    flex-wrap: nowrap; }
  body .center {
    justify-content: center;
    align-items: center; }
  body .align-center {
    align-items: center; }
  body .justify-center {
    justify-content: center; }
  body .justify-start {
    justify-content: flex-start; }
  body .justify-evenly {
    justify-content: space-evenly; }
  body .div-barra-navegacion--crear-guifo--html {
    position: relative;
    height: 193.6px;
    width: 82.9%;
    justify-content: start; }
  body .flecha-atras {
    position: absolute;
    top: 51px;
    left: -40px;
    height: 24px;
    width: 24px; }
  body .div-pestaña-crear-guifos-1 {
    width: 98.8%; }
  body .caja-crear-guifos-inicio-texto {
    justify-content: space-between; }
  body .div-contenedor-texto-crear {
    height: 362px;
    justify-content: flex-start; }
  body .div-titulo-crear-guifos {
    position: relative;
    justify-content: flex-start;
    width: 75.73%; }
  body .imagen-window {
    position: absolute;
    top: 35px;
    left: -10%; }
  body .caja-botones-crear-guifos-inicio {
    justify-content: flex-end; }
  body .div-pestaña-crear-guifos-2 {
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    width: 100%; }
  body .caja-crear-guifos-chequeo {
    width: 860px; }
  body .div-contenedor-camara {
    position: relative;
    height: 440px; }
  body .controles-grabacion {
    width: 100%;
    justify-content: flex-end;
    height: 67px; }
  body .div-titulo-exito {
    width: 88%;
    height: 87px;
    align-items: flex-end; }
  body .div-contenedor-boton-listo {
    width: 100%;
    height: 150px;
    justify-content: flex-end;
    align-items: flex-end; }
  body .section-mis-guifos--crear-guifo--html {
    margin-top: 64px;
    width: 100%; }
  body .div-resultados-mis-guifos--crear-guifo--html {
    margin-top: 17px;
    width: 83.4%; }
  body .boton_buscar {
    position: relative;
    justify-content: space-around; }
  body .boton-gif {
    position: relative;
    top: 237px;
    left: -80px; }
  body .div-superior-pestaña {
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    width: 100%; }
  body .pestaña-1 {
    z-index: 1;
    margin-right: 4px; }
  body .boton-ver-mas-position {
    position: absolute;
    top: 260px;
    left: 10px; }
  body .x-close {
    position: absolute;
    width: 16px;
    height: 14px;
    z-index: 10000;
    margin-top: 7px;
    right: 8px; }
  body .dropdown {
    position: relative;
    display: inline-block;
    text-align: center; }
  body .dropdown-contenedor {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1; }
  body .dropdown-contenedor a {
    display: flex; }
  body .mostrar {
    display: flex; }
  body .dropdown-resultados {
    position: relative;
    display: inline-block;
    text-align: start;
    width: 100%; }
  body .dropdown-resultados-contenedor {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 20000;
    width: 100%; }
  body .dropdown-resultados-contenedor a {
    display: flex; }
  body .mostrar-resultados {
    display: flex; }

/*-------------------------------------------------INDEX.HTML-----------------------------------------------------------*/
.seccion-barra-navegacion {
  width: 100%; }

.div-barra-navegacion {
  height: 193.6px;
  width: 82.9%; }

.logo {
  width: 102.6px;
  height: 114px; }

.div-botones--barra-navegacion {
  width: 92.9%;
  height: 114px;
  justify-content: flex-end; }

/* .boton-saylor-day {
     margin-top: 8px;
 }*/
.texto-mis-gifos__margin-top {
  margin-top: 8px; }

.contenedor-busqueda-blanco {
  width: 100%;
  height: 72px;
  justify-content: space-evenly; }

.div-contenedor-boton-buscar {
  width: 70px;
  height: 30px;
  margin-right: 2px;
  padding-left: 41px;
  line-height: 30px; }

.imagen-lupa {
  position: absolute;
  top: 10px;
  left: 22px;
  width: 14px;
  height: 14px; }

.section-sugerimos {
  margin-top: 64px; }

.div-resultado-sugerimos {
  margin-top: 15px;
  width: 83.4%; }

.caja-gifs-sugeridos-1 {
  position: relative; }

.section-tendencias {
  margin-top: 64px;
  width: 100%; }

.div-resultados-tendencias {
  margin-top: 17px;
  width: 83.4%; }

/*Estados boton rosado*/
a:active {
  color: #110038; }

.marco-boton-dotted:active {
  border: 1px dotted #110038; }

.boton:hover {
  background: #E6BBE2; }

.boton:active {
  border: 1px solid #110038; }

.boton-rosado:hover {
  background: #CE36DB; }

.boton-rosado:active {
  border: 1px solid #110038; }

/*.boton-blanco:hover {
    background: #F0E5EE;
}*/
.boton-blanco:active {
  border: 1px solid #110038; }

.boton-tema-claro:hover {
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  border: 1px solid #808080; }

.boton--buscar:hover {
  background: #EE3EFE; }

.boton--buscar:active {
  background: #CE36DB;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; }

.boton-texto--buscar:hover {
  color: #FFFFFF; }

.boton-texto--buscar:active {
  color: #FFFFFF; }

.boton--ver-mas:hover {
  background: #2629CC; }

.boton-texto--ver-mas:active {
  color: #110038; }

.boton-texto--grande:active {
  border: 1px dotted #110038; }

.boton-texto--mediano:active {
  border: 1px dotted #110038; }

.texto-mis-guifos:hover {
  border: 1px dotted #110038;
  line-height: 33px; }

.texto-mis-guifos:active {
  color: #dbccdf; }

/*Cajas*/
.cajas-gif-interior:hover {
  border: 1px dotted #110038; }

/*# sourceMappingURL=estilo.css.map */
