/*Comportamiento*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: $color-backgroud_light;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
/*------------------Clases principales de flex y centrado------------------------*/

    .flex-column {
        display: flex;
        flex-flow: column nowrap;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .flex-nowrap {
        flex-wrap: nowrap;
    }

    .center {
        justify-content: center;   
        align-items: center;
    }

    .align-center { 
        align-items: center;
    }
    
    .justify-center {
        justify-content: center;
    }

    .justify-start {
        justify-content: flex-start;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-evenly {
        justify-content: space-evenly;
    }
/*------------------------------------HTML CREAR-GUIFOS-------------------------------------*/
.div-barra-navegacion--crear-guifo--html {
    position: relative;
    height: 118px;
    width: 82.9%;
    justify-content: start;
}

.flecha-atras{
    position: absolute;
    top: 47px;
    left: -35px;
    height: 24px;
    width: 24px;
}

.div-pestaña-crear-guifos-1{
    width: 99.1%;
    margin-top: 2px;
}
.caja-crear-guifos-inicio-texto{
    justify-content: space-between;
}

.div-contenedor-texto-crear {
    height: 362px;
    justify-content: flex-start;
}

.div-titulo-crear-guifos{
    position: relative;
    justify-content: flex-start;
    width: 75.73%;

}
    .imagen-window{
        position: absolute;
        top: 35px;
        left: -10%;
    }

    .caja-botones-crear-guifos-inicio {
        justify-content: flex-end;   
    }

.div-pestaña-crear-guifos-2 {
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    width: 100%;
}
.caja-crear-guifos-chequeo {
    width: 860px;
}

.div-contenedor-camara {
    position: relative;
    height: 440px;
}

.controles-grabacion {
    width: 100%-2.55%;
    justify-content: flex-end;
    height: 67px;
    
}   

    .div-izquierdo-controles {
        width: 50% ;
        height: 67px;
    }

    .div-derecho-controles {
        width: 50% ;
        height: 67px;
    }

.div-titulo-exito {
    width: 88%;
    height: 87px;
    align-items: flex-end;
}

.div-contenedor-boton-listo {
    width: 100%;
    height: 150px;
    justify-content: flex-end;
    align-items: flex-end;
}

.section-mis-guifos--crear-guifo--html {
    margin-top: 64px;
    width: 100%;
}
    .div-resultados-mis-guifos--crear-guifo--html {
        margin-top: 17px;
        width: 83.4%;
    }

/*-------------------------------------------------------------------------*/

    .boton_buscar {
        position: relative;
        justify-content: space-around;
    }

    .boton-gif {
      position: relative;
      top: 237px;
      left: -80px;
    }
    .div-superior-pestaña {//Caja gifs sugeridos
        display: flex;
        flex-flow: row-reverse;
        position: relative;
        width: 100%;
    }

    .pestaña-1 {//Caja gifs sugeridos
        z-index: 1;
        margin-right: 4px;
    }

    .boton-ver-mas-position { //Caja gifs sugeridos
        position: absolute;
        top:260px ;
        left: 10px;
    }

    .x-close { //Caja gifs sugeridos
        position: absolute;
        width: 16px;
        height: 14px;
        z-index: 10000;
        margin-top: 7px;
        right: 8px;
        cursor: pointer;
    }



    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .dropdown-contenedor {
        display: none;
        position: absolute;
        overflow: auto;
        z-index: 1;
    }

    .dropdown-contenedor a {
        display: flex;
     }


    .mostrar {display: flex;}
    
    .dropdown-resultados {
        position: relative;
        display: inline-block;
        text-align: start;
        width: 100%;
    }


    .dropdown-resultados-contenedor {
        display: none;
        position: absolute;
        overflow: auto;
        z-index: 20000;
        width: 100%;
    }

    .dropdown-resultados-contenedor a {
       display: flex;
    }

    .mostrar-resultados {display: flex;}

}
/*-------------------------------------------------INDEX.HTML-----------------------------------------------------------*/
    .seccion-barra-navegacion {
        width: 100%;
    }

        .div-barra-navegacion {
            height: 118px;
            width: 82.9%;
        }

            .logo {
                display: flex;
                flex-direction: row;
                width: $ancho-logo;               
                height: $alto-logo;
                align-items: center; 
            }

            .div-botones--barra-navegacion {
                width: 92.9%;
                height: 114px;
                justify-content: flex-end;  
                align-items: center; 
            } 
            
           
                    


             
            .texto-mis-gifos__margin-top {
                margin-top: 8px;
            }


            
    .contenedor-busqueda-blanco {
        width: 100%;
        height: 72px;
        justify-content: space-evenly;
    }



    .div-contenedor-boton-buscar {
        position: relative;
        width: 95%;
        height: 30px;
        margin-left: 1.2px;
        /*   padding-left: 41px; */
        line-height: 30px;
    }
        .lupa {
            width: 20%;
            height: 30px;
            margin-left: 8px;
        }

            .imagen-lupa {
                width: 14px;
                height: 14px;   
            }
  

    .article{
        width: 100%;
        
    }
        .ul-lista {
            width: 82.9%;
            height: 40px;
            padding: 0px;
            margin: 1% 0px 0px 0px;
        
        }
              

        .section-sugerimos {
                margin-top: 47px;
                display: flex;
                flex-direction: column;
            }

            .ocultar-section-sugerimos {
                display: none;
            }

                .div-resultado-sugerimos {
                    margin-top: 15px;
                    width: 83.4%;
                }
                
                    .caja-gifs-sugeridos-1 {
                        position: relative;                
                    }



    .section-tendencias {
        margin-top: 64px;
        width: 100%;
    }
        .div-resultados-tendencias {
            margin-top: 17px;
            width: 83.4%;
        }

        .divtendencias {
            position: relative;
            z-index: 1;
        }

        .imagen-resutados {
            position: absolute;
            z-index: 2;
        }

        .marco-imagen {
            position: absolute;
            z-index: 3;
        }

        .etiqueta-imagen {
            position: absolute;
            z-index: 5;
        }