$color-backgroud_light: #110038;//ok
$color-pestaña_ligth:  linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);//ok

//------Botones----------
$color-boton_ligth: #EE3EFE;
$color-boton_rosado: #EE3EFE;
$color-boton_blanco: #FFFFFF;
$color-boton_rojo: #FF6161;
$color-boton-gris-claro: #F0E5EE;
$color-boton-sailor: #CCCCCC;

$color-caja_busqueda: #FFFFFF;
$color-background_caja_titulo:  #FFFAFE ;
$color-background_caja-contenedor-busqueda-blanco: #FFFFFF;
$color-background_cajas_oscura: #808080;
$color-background_cajas_clara: #B4B4B4;
$color-background_cajas_blanca:#FFFFFF;
$color-backgroud_boton-buscar-resultados:#CCCCCC; 

$color-background_boton_ver-mas: #2E32FB;
$color-caja-gifs-sugeridos: #B4B4B4;
$color-texto-day:#ffffff;
$color-texto_botones-oscuro: #110038;
$color-texto_botones-claro: #FFFFFF;
$color-texto_botones-tono-medio: #8F8F8F ;
$color-texto_pestañas: #FFFFFF;



$box-shadow_oscuro: 0 1px 0 0 #110038;//ok
$box-shadow_claro: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
$box-shadow_claro_inset-1:  inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
$box-shadow_caja_titulo: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
$box-shadow-caja-contenedor-busqueda-blanco:inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
$box-shadow_boton-general:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$box-shadow_boton_ver-mas: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;;
$box-shadow-boton-buscar: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
$box-shadow-grabacion: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
$box-shadow-boton-tema-claro:  inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
$box-shadow-boton-tema-gris:  inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
$box-shadow-boton-navbar: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;


/*Bordes*/
$border-caja_titulo:1px solid #E6BBE2;
$border-caja-gris-claro: 1px solid #808080;
$border-caja-blanca-grabacion: 1.5px solid #979797;
$border-boton-general: 1px solid #110038;
$border-boton-tema-claro: 1px solid #808080;
$border-boton-tema-gris: 1px solid rgba(51,53,143,0.20);