/*Elementos o clases genericas*/
/*------------------botones--------------------------*/
.boton { //Cambia el ancho
    display: inline-flex;
    background: $color-boton_ligth;
    height: $alto-boton_crearguifos;
    //border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}



.boton-general {
    display: inline-flex;
   // border: $border-boton-general;
    box-shadow: $box-shadow_boton-general;
    height: $alto-botones-general;
    
}
.boton--extra-large {width: $ancho-boton_extra-large; }
.boton--grande  {width: $ancho-boton_grande;}
.boton--mediano {width: $ancho-boton_mediano;}
.boton--pequeno {width:$ancho-boton_pequeño;}

.boton-rosado { background:$color-boton_rosado; }
.boton-blanco { background: $color-boton_blanco; }
.boton-rojo {background: $color-boton_rojo;}
.boton-gris-claro {background: $color-boton-gris-claro; }


.boton-tema-claro {
    box-shadow: $box-shadow-boton-tema-claro;
    border: $border-boton-tema-claro;
    width: 150px;
}


.boton-general_margin14px {
    margin-bottom: 14px;
}
.boton-general__margin30px {
    margin-right: 30px;
}

.boton-general__margin46px {
    margin-right: 46px;
}

.boton-general__margin15px {
    margin-right: 15px;
}

.boton-general__margin-top {
    margin-top: 10px;
}




.boton-tema-texto__margin {
    margin-left: 16px;
}

.boton-buscar-largo-buscar-resultados {
    width: $ancho-boton-largo-buscar-resultados;
    margin-left: 1.1%;
    box-shadow: $box-shadow_claro_inset-1;
    border: $border-caja-gris-claro;
    background: $color-backgroud_boton-buscar-resultados;
}


.imagen-boton {
    vertical-align: middle;
}

.flecha-abajo {
    width: 30px;
    height: 30px;
   
}


//no tocar estos abajo

.boton--ver-mas {
    width:$ancho-boton_ver-mas;
    height: $alto-boton_ver-mas;
    background: $color-background_boton_ver-mas; 
    border: 1px solid #4C2F99;  
    box-shadow: $box-shadow_boton_ver-mas ;
}

.boton--buscar  {    
    width:$ancho-boton_buscar;
    height: $alto-boton_buscar;
    background: $color-background_cajas_clara; 
    border: $border-caja-gris-claro;  
    box-shadow: $box-shadow-boton-buscar;
}

//no tocar estos arriba


/*------------------------Texto botones---------------------*/


.boton-texto {//cambia font-size, color, margin, padding, line-height
    font-family: $font-family_principal;
    text-decoration: none;
    letter-spacing: 0;
    height: 29px;
}

.boton-texto-azul-oscuro {color: $color-texto_botones-oscuro;}
.boton-texto-blanco {color: $color-texto_botones-claro;}
.boton-texto--buscar { color:$color-texto_botones-tono-medio; width: 102px; }
.boton-texto--grande {font-size: $font-size_grande; line-height: $line-height_mediana; width: 117px; padding-left: 20px}
.boton-texto--saylor {font-size: $font-size_grande; line-height: $line-height_mediana; width: 131px; padding-left: 12px; text-align: start;}
.boton-texto--mediano {font-size: $font-size_grande; line-height: $line-height_mediana;width: 122px; }
.boton-texto--pequeno {font-size: $font-size_pequeña; line-height: $line-height_pequena; }
.boton-texto-largo-buscar-resultados {width: 98.5%; line-height: 27px;}
.boton-texto-144px-line-heigth { line-height: 27px;}
.boton-crear-guifos-cancelar { width: 102px;  padding-left: 34px;}
.boton-crear-guifos-comenzar {width: 102px;  padding-left: 34px; }
.boton-chequeo-capturar {width: 93px;  padding-left: 34px; }
.boton-chequeo-listo {width: 86px;  padding-left: 41px; }
.boton-chequeo-repetirCaptura {width: 121px;  padding-left: 5px; }
.boton-chequeo-subir-guifo {width: 105px;  padding-left: 23px; }
.boton-exito-copiar-guifo {width: 195px;  padding-left: 53px; }
.boton-exito-descargar-guifo {width: 178px;  padding-left: 68px; }
.boton-exito-listo {width: 90px; height: 28px;  padding-left: 46px; }



.boton-texto-margin-left {
    margin-left: 1.4%;
}

.boton-texto-margenes {
    padding-left: 1%;
    margin-left: 2px;
}


.boton-texto--ver-mas {
    font-size: $font-size_mediana; 
    line-height: 27px;  
    color: $color-texto_botones-oscuro;
    width: 66px;
    height: 28px;
    margin-top: 3px;
    padding-left: 9px;
}


    
/*----------------------------texto pagina---------------------------------*/
.texto {
    font-family: $font-family_principal;
    font-size: $font-size_grande;
    font-weight: normal;
    color: $color-texto-day;
    
}


.texto-mis-guifos {
    width: 95px;
    height: 32px;
    margin: 0px;
    line-height: 36px;
    
}

.texto-mis-guifos::first-letter{

    text-decoration: underline;
}

.texto-bold {
    font-weight: 600;
}
.texto--caja-titulo {// Son todas las cajas blancas titulo de seccion
    font-size: $font-size_mediana;
    line-height: $line-height_grande;
}
.texto--caja-titulo__margin {
    margin: 0px 0px 0px 0.5%;
}

.texto-mis-guifos-navegacion {
    text-decoration: none;
    margin: 0px 0px 0px 15px;
    width: 97px;
}

.texto--h2-caja-crear-guifos {
    font-weight: bold;
    margin-top: 35px;
}

.texto--p-numeros-lista { // Texto cuadro de Dialogo primera pantalla crear-guifo.html
    font-size: $font-size_mediana;
    font-weight: bold;
    margin: 0px 3px 0px 0px;
    
}

.texto--p-lista { // Texto cuadro de Dialogo primera pantalla
    font-size: $font-size_mediana;
    margin: 0px 0px 0px 0px;
}

.texto--parrafo-crear-guifo-p {// HTML CREAR GUIFOS
    font-size: $font-size_mediana;
    margin: 0px 0px 0px 0px;
}



.pestaña {
    background: $color-pestaña_ligth;
    height: $alto-pestañas;
}

.pestaña--top {width: $ancho-pestaña_principal; height: $alto-pestaña_top; box-shadow: $box-shadow_oscuro;}
.pestaña--caja-buscar {width: $ancho-pestaña-caja-buscar}
.pestaña--caja-buscar__margin {margin: 3px 0px 0px 0px;}
.pestaña--gif-sugeridos {width: $ancho-pestañas_caja-gifs-sugeridos}
.pestaña--gif-sugeridos__margin {margin:2px 0px 0px 0px;}
.pestaña-crear-guifos-chequeo {
    width: $pestaña-crear-guifos-chequeo;
    margin: 3px 5px 0px 0px;
}

.pestaña-texto {
    font-family: $font-family_principal;
    font-size: $font-size_mediana;
    font-weight:bold;
    color: $color-texto_pestañas;
    line-height: $line-height_pequena;
    margin: 0px;
}
.pestaña-texto--top {font-size: $font-size_pequeña;}
.pestaña-texto__day {color:$color-texto-day;}
.pestaña--texto__margin {margin: 0px 0px 0px 4px}

    

.caja-contenedora-buscar {
    width: $ancho-caja_contenedora_buscar; 
    height: $alto-caja_contenedora_buscar;
    background: $color-background_cajas_clara;
    box-shadow: $box-shadow_claro;
}

.caja-contenedor-busqueda-blanco {
    width: $ancho-caja-contenedor-busqueda-blanco; 
    height: $alto-caja-contenedor-busqueda-blanco;
    background: $color-background_caja-contenedor-busqueda-blanco;
    box-shadow: $box-shadow-caja-contenedor-busqueda-blanco;
    border: 1px solid #979797;
}
.caja-contenedor-busqueda-blanco__margin {margin: 0px 0px 0px 0px;}

.caja-titulo {
    width: $ancho-caja_titulo; 
    height: $alto-caja_hoy-sugerimos;
    background: $color-background_caja_titulo,;
    box-shadow: $box-shadow_caja_titulo;
    border: 1px solid #E6BBE2;
}

.caja-gifs-sugeridos {
    width: $ancho-caja-gifs-sugeridos; 
    height: $alto-caja-gifs-sugeridos;
    background: $color-caja-gifs-sugeridos;
    box-shadow: $box-shadow_claro;
}
.cajas-gifs-sugeridos__margin {margin-left: 0.8%;}

.caja-gifs-resultados {
    width: $ancho-caja-gifs-resultados; 
    height: $alto-caja-gifs-resultados;
    background: $color-caja-gifs-sugeridos;
    box-shadow: $box-shadow_claro;
}
.cajas-gifs-resultados__margin {margin: 1% 0px 0px 0.6%}

.cajas-gif-interior {
    width: $ancho-caja-gifs-interior; 
    height: $alto-caja-gifs-interior;
}

.cajas-gif-interior__margin {
    margin: 2px 0px 0px 6px;
}

.caja-crear-guifos-inicio {
    width: $ancho-caja-crear-gifos-1;
    height: $alto-caja-crear-gifos-1;
    background: $color-background_cajas_clara;
    box-shadow: $box-shadow_claro;
}

.caja-crear-guifos-inicio-texto {
    width: $ancho-caja-crear-guifos-inicio-texto;
    height: $alto-caja-crear-guifos-inicio-texto;
}

.caja-botones-crear-guifos-inicio {
    width: $ancho-caja-botones-crear-guifos-inicio;
    height: $alto-caja-botones-crear-guifos-inicio;
}

.caja-crear-guifos-chequeo {
    width: $ancho-caja-crear-guifos-chequeo;
    height: $alto-caja-crear-guifos-chequeo;
    background: $color-background_cajas_clara;
    box-shadow: $box-shadow_claro;
}

.caja-crear-guifos-chequeo___margin {
    margin: 5% 0px 0px 0px;
}

.caja-contenedor-grabacion {
    width: $ancho-caja-contenedor-grabacion;
    height: $alto-caja-contenedor-grabacion;
    border: $border-caja-blanca-grabacion;
    box-shadow: $box-shadow-grabacion;
    background: $color-background_cajas_blanca;
}

.caja-contenedor-grabacion__margin {
    margin: 1% 0px 0px 0px;
}

.caja-contador {
    width: 124px;
    height: 36px;
    background: $color-background_cajas_blanca;
    box-shadow: $box-shadow-grabacion;
    border: $border-caja-blanca-grabacion;
    
}
.caja-contenedora-cargando {
    width: 328px;
    height: 27px;
    background: #B4B4B4;
    box-shadow:  inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;

}


.rectangulo-inactivo {
    width: 12px;
    height: 20px;
    background: #999999;
    border: 1px solid #cecccc;
}

.rectangulo-activo {
    width: 12px;
    height: 20px;
    background: #F7C9F3;
    border: 1px solid #cecccc;
}


.caja-exito {
    width: $ancho-caja-exito;
    height: $alto-caja-exito;
    background: $color-background_cajas_clara;
    box-shadow: $box-shadow_claro;
}

.div-contenedor-exito {
    height: 367px;
    width: 721px;
}

.caja-img-gifo-exito {
    width: 60%;
    height: 367px;
}

.guifo-exito {
    width: 371px;
    height: 196px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-20pxshadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin: 7% 0px 0px 5%;
}



.caja-botones-exito {
    width: 50%;
    height: 367px;
}

.caja-contenedor-cambio-tema {
    width: 167px;
    height: 102px;
    background: $color-background_cajas_clara;
    box-shadow: $box-shadow_claro;
}

.caja-contenedor-cambio-tema__margin {
    margin-left: 15px;
}

.caja-buscar-resultados {
    box-shadow: $box-shadow_claro;
    height: $alto-caja-contenedora-buscar-resultados;
    width: $ancho-caja-contenedora-buscar-resultados;
    background: $color-background_cajas_clara;
}

.contenedor-input {
    width: 98%;
    height: 42px;
    border: none;
    box-shadow: none;
    margin: 2.6px 0px 0px 12px;
    font-size: $font-size_grande;
    font-family: $font-family_principal;
}

.contenedor-input:focus {
    outline:none ;
    outline-width: 0; 
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
