/*Elementos o clases genericas*/
/*------------------botones--------------------------*/
.boton { //Cambia el ancho
    display: inline-flex;
    background: $color-boton_ligth;
    height: $alto-boton_crearguifos;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.boton-general {
    display: inline-flex;
    border: $border-boton-general;
    box-shadow: $box-shadow_boton-general;
    height: $alto-botones-general;
    
}

.boton--grande  {width: $ancho-boton_grande;}
.boton--mediano {width: $ancho-boton_mediano;}
.boton--pequeno {width:$ancho-boton_pequeño;}

.boton-rosado { background:$color-boton_rosado; }
.boton-blanco { background: $color-boton_blanco; }
.boton-rojo {background: $color-boton_rojo;}
.boton-gris-claro {background: $color-boton-gris-claro; }


.boton-general__margin30px {
    margin-right: 30px;
}

.boton-general__margin15px {
    margin-right: 15px;
}

.imagen-boton {
    vertical-align: middle;
}


//no tocar estos abajo

.boton--ver-mas {
    width:$ancho-boton_ver-mas;
    height: $alto-boton_ver-mas;
    background: $color-background_boton_ver-mas; 
    border: 1px solid #4C2F99;  
    box-shadow: $box-shadow_boton_ver-mas ;
}

.boton--buscar  {    
    width:$ancho-boton_buscar;
    height: $alto-boton_buscar;
    background: $color-background_cajas_clara; 
    border: $border-caja-gris-claro;  
    box-shadow: $box-shadow-boton-buscar;
}

//no tocar estos arriba


/*------------------------Texto botones---------------------*/


.boton-texto {//cambia font-size, color, margin, padding, line-height
    font-family: $font-family_principal;
    text-decoration: none;
    letter-spacing: 0;
}

.boton-texto-azul-oscuro {color: $color-texto_botones-oscuro;}
.boton-texto-blanco {color: $color-texto_botones-claro;}
.boton-texto--grande {font-size: $font-size_grande; line-height: $line-height_mediana;}
.boton-texto--mediano {font-size: $font-size_grande; line-height: $line-height_mediana;}
.boton-texto--pequeno {font-size: $font-size_pequeña; line-height: $line-height_pequena;}

.boton-texto--buscar {
    font-size: $font-size_grande; 
    line-height: $line-height_grande;
    color:$color-texto_botones-tono-medio;
}
.boton-texto--ver-mas {
    font-size: $font-size_mediana; 
    line-height: $line-height_grande;  
    color: $color-texto_botones-claro;
}
    
/*----------------------------texto pagina---------------------------------*/
.texto {
    font-family: $font-family_principal;
    font-size: $font-size_grande;
    font-weight: normal;
    color: $color-texto-day;
    
}
.texto--caja-titulo {// Son todas las cajas blancas titulo de seccion
    font-size: $font-size_mediana;
    line-height: $line-height_grande;
}
.texto--caja-titulo__margin {
    margin: 0px 0px 0px 0.5%;
}

.texto--h2-caja-crear-guifos {
    font-weight: bold;
    margin-top: 35px;
}

.texto--p-numeros-lista { // Texto cuadro de Dialogo primera pantalla crear-guifo.html
    font-size: $font-size_mediana;
    font-weight: bold;
    margin: 0px 3px 0px 0px;
    
}

.texto--p-lista { // Texto cuadro de Dialogo primera pantalla
    font-size: $font-size_mediana;
    margin: 0px 0px 0px 0px;
}

.texto--parrafo-crear-guifo-p {
    font-size: $font-size_mediana;
    margin: 0px 0px 0px 0px;
}



.pestaña {
    background: $color-pestaña_ligth;
    height: $alto-pestañas;
}

.pestaña--top {width: $ancho-pestaña_principal; height: $alto-pestaña_top; box-shadow: $box-shadow_oscuro;}
.pestaña--caja-buscar {width: $ancho-pestaña-caja-buscar}
.pestaña--caja-buscar__margin {margin: 3px 0px 0px 0px;}
.pestaña--gif-sugeridos {width: $ancho-pestañas_caja-gifs-sugeridos}
.pestaña--gif-sugeridos__margin {margin:2px 0px 0px 0px;}
.pestaña-crear-guifos-chequeo {
    width: $pestaña-crear-guifos-chequeo;
    margin: 3px 5px 0px 0px;
}

.pestaña-texto {
    font-family: $font-family_principal;
    font-size: $font-size_mediana;
    font-weight:bold;
    color: $color-texto_pestañas;
    line-height: $line-height_pequena;
    margin: 0px;
}
.pestaña-texto--top {font-size: $font-size_pequeña;}
.pestaña-texto__day {color:$color-texto-day;}
.pestaña--texto__margin {margin: 0px 0px 0px 4px}

    

.caja-contenedora-buscar {
    width: $ancho-caja_contenedora_buscar; 
    height: $alto-caja_contenedora_buscar;
    background: $color-background_cajas_clara;
    box-shadow: $box-shadow_claro;
}

.caja-contenedor-busqueda-blanco {
    width: $ancho-caja-contenedor-busqueda-blanco; 
    height: $alto-caja-contenedor-busqueda-blanco;
    background: $color-background_caja-contenedor-busqueda-blanco;
    box-shadow: $box-shadow-caja-contenedor-busqueda-blanco;
    border: 1px solid #979797;
}
.caja-contenedor-busqueda-blanco__margin {margin: 0px 0px 0px 0px;}

.caja-titulo {
    width: $ancho-caja_titulo; 
    height: $alto-caja_hoy-sugerimos;
    background: $color-background_caja_titulo,;
    box-shadow: $box-shadow_caja_titulo;
    border: 1px solid #E6BBE2;
}

.caja-gifs-sugeridos {
    width: $ancho-caja-gifs-sugeridos; 
    height: $alto-caja-gifs-sugeridos;
    background: $color-caja-gifs-sugeridos;
    box-shadow: $box-shadow_claro;
}
.cajas-gifs-sugeridos__margin {margin-left: 0.8%;}

.caja-gifs-resultados {
    width: $ancho-caja-gifs-resultados; 
    height: $alto-caja-gifs-resultados;
    background: $color-caja-gifs-sugeridos;
    box-shadow: $box-shadow_claro;
}
.cajas-gifs-resultados__margin {margin: 1% 0px 0px 0.6%}

.caja-crear-guifos-inicio {
    width: $ancho-caja-crear-gifos-1;
    height: $alto-caja-crear-gifos-1;
    background: $color-background_cajas_clara;
    box-shadow: $box-shadow_claro;
}

.caja-crear-guifos-inicio-texto {
    width: $ancho-caja-crear-guifos-inicio-texto;
    height: $alto-caja-crear-guifos-inicio-texto;
}

.caja-botones-crear-guifos-inicio {
    width: $ancho-caja-botones-crear-guifos-inicio;
    height: $alto-caja-botones-crear-guifos-inicio;
}

.caja-crear-guifos-chequeo {
    width: $ancho-caja-crear-guifos-chequeo;
    height: $alto-caja-crear-guifos-chequeo;
    background: $color-background_cajas_clara;
    box-shadow: $box-shadow_claro;
}

.caja-crear-guifos-chequeo___margin {
    margin: 5% 0px 0px 0px;
}

.caja-contenedor-grabacion {
    width: $ancho-caja-contenedor-grabacion;
    height: $alto-caja-contenedor-grabacion;
    border: $border-caja-blanca-grabacion;
    box-shadow: $box-shadow-grabacion;
    background: $color-background_cajas_blanca;
}

.caja-contenedor-grabacion__margin {
    margin: 1% 0px 0px 0px;
}

