@charset "UTF-8";
/*colores*/
/*medidas*/
/*fuentes*/
/*Line-height*/
/*Bordes*/
/*Elementos o clases genericas*/
.boton {
  display: inline-flex;
  background: #F7C9F3;
  height: 36px;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }

.boton--ver-mas {
  width: 81px;
  height: 34px;
  background: #2E32FB;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF; }

.boton--buscar {
  width: 8.5%;
  height: 36px;
  background: #E6E6E6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }

.boton--grande {
  width: 12.1%; }

.boton--mediano {
  width: 11%; }

.boton--pequeno {
  width: 3.1%; }

.boton-texto {
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  letter-spacing: 0; }

.boton-texto__day {
  color: #110038; }

.boton-texto--grande {
  font-size: 16px;
  line-height: 28px; }

.boton-texto--mediano {
  font-size: 16px;
  line-height: 28px; }

.boton-texto--pequeno {
  font-size: 12px;
  line-height: 24px; }

.boton-texto--buscar {
  font-size: 16px;
  line-height: 32px;
  color: #B4B4B4; }

.boton-texto--ver-mas {
  font-size: 14px;
  line-height: 32px;
  color: #FFFFFF; }

.texto {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #110038; }

.texto--caja-titulo {
  font-size: 14px;
  line-height: 32px; }

.texto--caja-titulo__margin {
  margin: 0px 0px 0px 0.5%; }

.texto--h2-caja-crear-guifos {
  font-weight: bold;
  margin-top: 35px; }

.texto--p-numeros-lista {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 3px 0px 0px; }

.texto--p-lista {
  font-size: 14px;
  margin: 0px 0px 0px 0px; }

.texto--parrafo-crear-guifo-p {
  font-size: 14px;
  margin: 0px 0px 0px 0px; }

.pestaña {
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  height: 24px; }

.pestaña--top {
  width: 100%;
  height: 23px;
  box-shadow: 0 1px 0 0 #110038; }

.pestaña--caja-buscar {
  width: 99.5%; }

.pestaña--caja-buscar__margin {
  margin: 3px 0px 0px 0px; }

.pestaña--gif-sugeridos {
  width: 97%; }

.pestaña--gif-sugeridos__margin {
  margin: 2px 0px 0px 0px; }

.pestaña-texto {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 24px;
  margin: 0px; }

.pestaña-texto--top {
  font-size: 12px; }

.pestaña-texto__day {
  color: #110038; }

.pestaña--texto__margin {
  margin: 0px 0px 0px 4px; }

.caja-contenedora-buscar {
  width: 82.9%;
  height: 99px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.caja-contenedor-busqueda-blanco {
  width: 88%;
  height: 48px;
  background: #FFFFFF;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  border: 1px solid #979797; }

.caja-contenedor-busqueda-blanco__margin {
  margin: 0px 0px 0px 0px; }

.caja-titulo {
  width: 82.9%;
  height: 32px;
  background: #FFFFFF;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  border: 1px solid #E6BBE2; }

.caja-gifs-sugeridos {
  width: 25%;
  height: 313px;
  background: rgba(230, 230, 230, 0);
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.cajas-gifs-sugeridos__margin {
  margin-left: 0.8%; }

.caja-gifs-resultados {
  width: 24.4%;
  height: 304px;
  background: rgba(230, 230, 230, 0);
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.cajas-gifs-resultados__margin {
  margin: 1% 0px 0px 0.6%; }

.caja-crear-guifos-inicio {
  width: 47.5%;
  height: 386px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.caja-crear-guifos-inicio-texto {
  width: 75.73%;
  height: 190px; }

/*Comportamiento*/
body {
  background-color: #fef4fd;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*------------------Clases principales de flex y centrado------------------------*/
  /*------------------------------------HTML CREAR-GUIFOS-------------------------------------*/
  /*-------------------------------------------------------------------------*/ }
  body .flex-column {
    display: flex;
    flex-flow: column nowrap; }
  body .flex-row {
    display: flex;
    flex-direction: row; }
  body .flex-wrap {
    flex-wrap: wrap; }
  body .center {
    justify-content: center;
    align-items: center; }
  body .align-center {
    align-items: center; }
  body .justify-center {
    justify-content: center; }
  body .div-barra-navegacion--crear-guifo--html {
    position: relative;
    height: 102.6px;
    width: 82.9%;
    justify-content: start; }
  body .flecha-atras {
    position: absolute;
    top: 35px;
    left: -40px;
    height: 24px;
    width: 24px; }
  body .div-pestaña-crear-guifos-1 {
    width: 98.8%; }
  body .caja-crear-guifos-inicio-texto {
    justify-content: space-between; }
  body .div-contenedor-texto-crear {
    height: 362px;
    justify-content: flex-start; }
  body .div-titulo-crear-guifos {
    position: relative;
    justify-content: flex-start;
    width: 75.73%; }
  body .imagen-window {
    position: absolute;
    top: 35px;
    left: -10%; }
  body .section-mis-guifos--crear-guifo--html {
    margin-top: 64px;
    width: 100%; }
  body .div-resultados-mis-guifos--crear-guifo--html {
    margin-top: 17px;
    width: 83.4%; }
  body .boton_buscar {
    position: relative;
    justify-content: space-around; }
  body .boton-gif {
    position: relative;
    top: 237px;
    left: -80px; }
  body .div-superior-pestaña {
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    width: 100%; }
  body .pestaña-1 {
    z-index: 1;
    margin-right: 4px; }
  body .boton-ver-mas-position {
    position: absolute;
    top: 260px;
    left: 10px; }
  body .x-close {
    position: absolute;
    width: 16px;
    height: 14px;
    z-index: 10000;
    margin-top: 7px;
    right: 8px; }

/*------------------------------------------------------------------------------------------------------------*/
.seccion-barra-navegacion {
  width: 100%; }

.div-barra-navegacion {
  height: 102.6px;
  width: 82.9%; }

.logo {
  width: 102.6px;
  height: 64px; }

.div-botones--barra-navegacion {
  width: 92.9%;
  justify-content: flex-end; }

.boton-tema {
  margin-left: 15px; }

.texto-mis-gifos {
  margin: 0px 0px 0px 15px; }

.contenedor-busqueda-blanco {
  width: 100%;
  height: 72px;
  justify-content: space-evenly; }

.imagen-lupa {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 14px;
  height: 14px; }

.section-sugerimos {
  margin-top: 64px; }

.div-resultado-sugerimos {
  margin-top: 15px;
  width: 83.4%; }

.caja-gifs-sugeridos-1 {
  position: relative; }

.section-tendencias {
  margin-top: 64px;
  width: 100%; }

.div-resultados-tendencias {
  margin-top: 17px;
  width: 83.4%; }

/*# sourceMappingURL=estilo.css.map */
